html, body {
  margin: 0; padding: 0;
  background-image:linear-gradient(60deg, rgb(11, 8, 40), rgb(131, 135, 168));
}
h2{
  display:inline;
  font-family: Times, "Times New Roman", Georgia, serif;
  color: rgb(122, 0, 7);
}
h4{
  display:inline;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: rgb(20, 20, 20);
}

.main
{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0; padding: 0;
}
.conteneur
{
    width: 960px;
}

.cadre-rouge{
  background-color: rgb(248, 249, 235);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(122, 0, 7);
}
.titre{
  width: 95%;
  padding-left: : 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: rgb(226, 226, 226);

}
.col_75{
  width: 70%;
  padding: 5px;
  background-color: rgb(176, 217, 138);
}
.col_25
{
  /*display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;*/
  width: 25%;
  padding: 5px;
  background-color: rgb(105, 149, 158);
}

h2{
  display:inline;
  font-family: Times, "Times New Roman", Georgia, serif;
  color: rgb(122, 0, 7);
}
h4{
  display:inline;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: rgb(20, 20, 20);
}
